body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #735BF2;
    background: -moz-linear-gradient(top, #382C76 0%, #4A3B9C 50%, #735BF2 100%);
    background: -webkit-linear-gradient(top, #382C76 0%, #4A3B9C 50%, #735BF2 100%);
    background: linear-gradient(to bottom, #382C76 0%, #4A3B9C 50%, #735BF2 100%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.white-layout {
    background: #f1f1f1;
    width: calc(100% - 25px);
    height: calc(100% - 70px);
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    padding: 20px;
}
.back-button {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.verify-user {
    position: absolute;
    top: 120px;
    left: 20px;
    font-size: 2em;
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}
.description {
    position: absolute;
    top: 158px;
    left: 20px;
    font-size: 1.2em;
    color: #555;
    margin: 0;
    width: calc(100% - 40px); 
    text-align: left; 
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}
.form-control {
    width: 100%;
    max-width: 330px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 92px;
    font-size: 1em;
    text-indent: 30px;
    background: #FFFFFF;
}
form .input-field {
    flex-direction: row;
    column-gap: 10px;
}
.input-field input {
    height: 70px;
    width: 65px;
    border-radius: 8px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
    margin: 2px;
}
.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 310px;
    margin-top: 20px;
}
.resend-code{
    font-size: 1em;
    color: #735BF2;
    text-decoration: none;
    font-weight: 700;
}
.enter-button {
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.login-text{
    font-size: 1em;
    color: #555;
    position: absolute;
    bottom: 0;
    margin: 0px 12.9px 35px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.login-text p {
    margin: 2px 2px 3px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 19px;
    color: #555;
}
.login-text a {
    color: #735BF2;
    text-decoration: none;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 21px;
}
.login-link a:hover {
    text-decoration: underline;
}