header{
  background:#ffffff;
  padding-top: 15px;
  min-height: 70px;
}
header .title{
  margin: 20px 0;
  text-align: center;
}

/*body sight*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  }
body{
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}
.ttlPoint, .addpoint{
  margin-top: 20px;
  background: #ffffff;
  padding: 20px;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  }
  
.nav-item {
  color: black;
  text-decoration: none;
  text-align: center;
  }